.group-info
    padding: 32px 25px 0

    height: 100vh
    width: 275px
    background-color: #25272A
    opacity: .75
    &-name
        display: flex
        align-items: center
        justify-content: space-between
        .wrapper
            display: flex
            align-items: center
        span
            color: #ffffff
            font-size: 20px
        &-dropdown
            height: 7px
            width: 10px
            margin-left: 5px
            cursor: pointer 
    &-settings
        cursor: pointer
    &-threads
        margin-top: 30px
        span
            line-height: 17px
            margin-left: 11px
            color: #b5b5b5
    &-channels
        &-title
            display: flex
            justify-content: space-between
            margin-top: 32px
            span
                line-height: 14px
                font-size: 13px
                color: #919191
                font-weight: 700
        &-list
            margin-top: 14px
            height: 400px
            overflow-y: scroll
            scrollbar-width: none
            &::-webkit-scrollbar 
                display: none
            &-item
                height: 30px
                padding: 4px 0 0 13px
                span
                    color: #ffffff
                    font-size: 14px
                    line-height: 17px
                    font-weight: 700
    &-friends
        &-title
            display: flex
            align-items: center
            justify-content: space-between
            span
                color: #919191
                font-size: 13px
                font-weight: 700
                line-height: 14