body {
  margin: 0;
}

.main {
  display: grid;
  grid-template: 1fr/71.5px 275px 4fr 200px;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url("../img/background-blured.jpg") center center/cover no-repeat;
}